@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
}

@layer components {
  .text-color {
    @apply text-[#0A1629];
  }

  .text-muted {
    @apply text-[#7D8592];
  }
  .border-s {
    @apply border border-[#D8E0F0];
  }
}
.custom-scroll {
  transform: translateX(-20px);
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #d3dbeb;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background-color: #ebf0fa;
}
